djangorestframework-simplejwt
djangorestframework==3.15.2
dj-database-url==2.2.0
python-decouple
gunicorn==23.0.0
twilio==9.3.4
psycopg2==2.9.10
google-auth 
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pyngrok
python-dateutil
